/* Box Model Hack */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/******************************************
/* LAYOUT
/*******************************************/

.col-1-3{
     width: 33.33%;
}

.col-2-3{
     width: 66.66%;
}

.col-1-3,
.col-2-3{
     display: inline-block;
     vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/******************************************
/* Custom STYLES
/*******************************************/

body {
     color: #888;
     font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
     color: #648880;
}

h1 {
     font-size: 36px;
     line-height: 44px;
}
h2 {
     font-size: 24px;
     line-height: 44px;
}
h3 {
     font-size: 21px;
}
h4{
     font-size: 18px;
}
h5 {
     color: #a9b2b9;
     font-size: 14px;
     font-weight: 400;
}

strong{
     font-weight: 400;
}
cite, em {
     font-style: italic;
}
/*
  ========================================
  Primary header
  ========================================
*/

.logo {
     float: left;
     border-top: 4px solid #648880;
     padding: 40px 0 22px 0;
   }

   /*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
     float: left;
   }

.primary-footer{
     padding-top: 44px;
     padding-bottom: 44px;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
     margin-bottom: 22px;
   }

   /*
  ========================================
  Buttons
  ========================================
*/

.btn {
     border-radius: 5px;
     display: inline-block;
     margin: 0;
}

.btn-alt {
     border: 1px solid #dfe2e5;
     padding: 10px 30px;
}

/***************************************
HOME
****************************************/

.hero {
     padding: 22px 80px 66px 80px;
}
